@import "tailwindcss";

input,
textarea,
select {
  background-color: #fff !important;
  color: #111 !important;
  border-color: #ccc !important;
}

input:focus,
textarea:focus,
select:focus {
  background-color: #fff !important;
  color: #111 !important;
  outline: 2px solid #3b82f6 !important;
}

html.dark input,
html.dark textarea,
html.dark select {
  background-color: #222 !important;
  color: #fff !important;
  border-color: #555 !important;
}

html.dark input:focus,
html.dark textarea:focus,
html.dark select:focus {
  background-color: #222 !important;
  color: #fff !important;
  outline: 2px solid #3b82f6 !important;
}
